.tech-container {
    text-align: center;
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .tech-container h2 {
    font-size: 40px;
    font-weight:400;
    margin-bottom: 30px;
  }
  
  .tech-container strong {
    color: #000;
  }
  
  .divider-container {
    position: relative;
    height:2px;
    width: 100%; 
  }
  
  .background-divider {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 300px;
    height: 1px; 
    background-color: #000; 
    z-index: -1; 
  }
  
  .divider {
    width: 70px; 
    height: 3px; 
    background-color: orange; 
    margin: 0 auto 30px; 
    position: relative; 
  }
  
  .tech-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .image-box {
    margin-left:120px;
    max-width: 600px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .image-box img {
    width: 100%;
    height: auto;
  }
  
  .text-box {
    padding: 20px;
    text-align: left;
  }
  
  .text-box p {
    font-size: 0.95rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .text-box button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .tech-list {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .tech-list li {
    padding: 10px 10px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .tech-list li.active {
    color: orange;
    border-left: 2px solid orange;
    padding-left: 8px;
  }
  
  .tech-list li:hover {
    color: orange;
  }
  