.portfolio-section {
  text-align: center;
  padding: 2rem 1rem;
}

.portfolio-title {
  font-size: 40px;
  margin-bottom: 1rem;
  position: relative;
}

.divider-container {
  width: 100%;
  position: relative;
  height: 10px;
  margin-top: 0.5rem;
}

.background-divider {
  position: absolute;
  width: 300px;
  height: 1px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.divider {
  width: 70px;
  height: 3px;
  background-color: orange;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.portfolio-slider .slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.portfolio-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
  width: 100%;
}


.portfolio-image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.portfolio-image {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-button {
  background-color: white;
  border: 1px solid #ff6600;
  color: #333;
  padding: 2rem 4rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}


.portfolio-button.active {
  background-color: #ff6600;
  color: white;
}

.portfolio-button.active .arrow {
  color: white;
}

