.faq-section {
    background:url("/images/questionmark.jpg");
    background-position: center;
    height:80vh;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: white;
    align-items: flex-start;
    gap: 30px;
  }
  
  .faq-left {
    flex: 1;
  }
  
  .faq-left h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .faq-left h2 span {
    color: #ffffff;
    font-weight: 900;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-item {
    border: 1px solid #2e2e3a;
    padding: 15px 20px;
    background-color: #151d3b;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
  }
  
  .faq-item.open {
    background-color: #1e284d;
    border-left: 5px solid #ff6700;
  }
  
  .faq-question {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-icon {
    font-size: 24px;
    color: white;
    background-color: #ff6700;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    margin-left: 10px;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #d0d0d0;
  }
  
  .faq-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .faq-right img {
    max-width: 300px;
    height: auto;
  }
  