.testimonials-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .testimonials-left {
    flex: 1;
    max-width: 350px;
    padding-top:50px;
  }
  
  .testimonials-left h2 {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
  }
  
  .testimonials-left h2 span {
    font-weight: 900;
    color: #000;
  }
  
  .testimonials-left p {
    color: #555;
    line-height: 1.5;
  }
  
  .testimonials-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .testimonial-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 70px;
    border-radius: 120px;
    border:2px solid #9c9c9c;
    box-shadow: -40px 9px 46.9px -1px #00000026;
    position: relative;
    transition: border 0.3s ease;
  }
  
  .testimonial-card.highlight {
    border: 2px solid #ff6a00;
   
  }
  
  /* .testimonial-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
  } */
  
  .testimonial-content h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
  
  .testimonial-content .designation {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .testimonial-content .message {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
  }
  
  .quote-mark {
    
    position: absolute;
    top: -75px;
    right: 70px;
    font-size: 100px;
    color: #ccc;
  }
  