.client-logos {
    background-color: #fff;
    padding: 40px 20px;
  }
  
  .logo-card {
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
  }
  
  .logo-card img {
    max-width: 100%;
    height: 60px;
    object-fit: contain;
    margin: 0 auto;
    filter: grayscale(0.2);
    transition: transform 0.3s ease;
    border:solid 1px #B9B9B9;
    padding:10px 40px;
    border-radius:12px;
  }
  
  .logo-card img:hover {
    transform: scale(1.05);
    filter: grayscale(0);
  }
  